/* .card {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  width: 22.5rem;
  height: 22.5rem;
  background-color: 000201;
  justify-content: center;
  margin-bottom: 20px;
  border: 1px solid #C29C6B;
  position: relative;
  align-items: center;
 object-fit: cover;
 color: white;

 text-align: center;
}


.footer-card button:hover{
  background-color: white;
  border: 1px solid black;
  color: black;
}

.footer-card button{
 width: 120px;
}

.footer-card button:active{
  background-color: #F7E0DE;
  color: red;
}

@-webkit-keyframes capa {
  0% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes capa{
  0% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}



.capa p {
  color: black;
  font-size: 15px;
  padding: 5px;
  text-transform: uppercase;

}

.card:hover .capa {
  display: block;

}

.card:hover {
  background-color: #fff;
  color: black;
}

.card:hover button{
  color: black;
}

.footer-card h3{
  font-size: 2rem;
}

.footer-card {
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  flex-direction: column;

}

.footer-card title{
  font-size: 0.5rem;
  text-transform: capitalize;
}

.footer-card p{
  font-size: 1.5rem;

}

.footer-card button {
  padding: 10px;
  background-color: #C29C6B;
  text-transform: capitalize;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.footer-card button:hover{
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}


.card img {
  margin-top: 20px;
  overflow: hidden;
  height: 80px;
  width: 80px;
  background-size: cover;
  margin-top: 20px;
  
  border-radius: 200px;

  transition: all 500ms ease-out;

}
#lastprice{
  text-decoration: line-through;
  color: #8D8D8C;
  font-size: 1rem;
}

.precio{
  display: flex;
  text-align: center;
  align-items: center;
  gap: 5px;
  font-size: 2.5rem;
}

@media (max-width:768px) {
  .card{
   width: 250px;
   height: 250px;

  }

  .card img{
    height: 60px;
    width: 60px;
  }

  .footer-card h3{
    font-size: 1.5rem;
  }

  .precio{
    font-size: 2rem;
    margin: 10px;
  }
}
@media (max-width:340px) {
  .card{
    width: 200px;
    height: 200px;
  }

  img{
    display: none;
  }
} */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #F3F4F6;
  padding: 10px;
  border-radius: 6px;
  gap: 1.5rem;
  height: max-content;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(245,245,245,1);
-moz-box-shadow: 10px 10px 5px 0px rgba(245,245,245,1);
box-shadow: 10px 10px 5px 0px rgba(245,245,245,1);
}
.card_form {
  position: relative;
  width: 15em;
  height: 15em;
  border-radius: 4px;
  background-color: #F3F4F6;
  transition: 0.2s ease-in-out;
  overflow: hidden;
}
.card_form span {
  font-size: 1.5em;
  position: absolute;
  inset: 0;
  padding: 5px 10px;
  color: #fff;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.card:hover .card_form span,
.card:hover .card_data span {
  opacity: 1;
}
.card_data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}
.card_data span {
  color: black;
  display: flex;
  align-items: center;
  font-size: 0.9em;
  transition: 0.2s ease-in-out;
  opacity: 0;
  cursor: pointer;
}
.card_data span:hover {
  text-decoration: underline;
  color: #C29C6B;
}
.text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: black;
}
.text_m {
  font-size: 0.9em;
}
.text_s {
  color: #C29C6B;
  font-size: 0.6em;
}
.cube {
  width: max-content;
  height: 10px;
  transition: all 0.2s;
  transform-style: preserve-3d;
}
.card:hover .cube {
  transform: rotateX(90deg);
}
.side {
  width: max-content;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bold;
}
.top {
  transform: rotateX(-90deg) translate3d(0, 0, 0em);
}
.front {
  transform: translate3d(0, 0, 1em);
}

img{
  width: 15em;
  height: 15em;
}
