

.container {
  display: flex;
  flex-direction: column; /* Alinear elementos en columna */
  justify-content: center; /* Centrar verticalmente */
  align-items: center; /* Centrar horizontalmente */
  height: 100vh; /* Opcional: ocupar toda la altura de la ventana */
  text-transform: uppercase;
}

.container h3{
  font-size: 18px;
  height: 5px;
  
}

.container p{
  font-size: 16px;

}

.container img{

  height: 100px;
  width: 100px;
  margin: 20px;
}
